.var-highlight {
    color: #26c961;
    font-weight: bolder;
}

.string-highlight {
    color: #26c961;
    font-weight: bolder;
}

.warning {
    color: #d0883c;
}

.error
{
	color: #db2644;
}

.info
{
	color: #097bbf;
}

.typewriter {
    font-size: 1.4em;
    margin: 0;
    color: black;
    font-family: "Courier New";
    font-weight: bold;
}

.typewriter:after {
    content: url('../images/cursor.png');
    animation: blink 500ms linear infinite alternate;
}

#npm-install {
    margin-left: 10%;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}




@media only screen and (max-width: 900px) {
    #typewriter {
        font-size: 1em;
    }
    #npm-install
    {
    	margin-left: 2%;
    	font-size: 0.5em;
    }
}